body {
    background-color: black;
    margin: 0px;
}

h1 {
    color: gold;
    text-align: center;
    font-size: 70px;
    font-family: orbitron;
    font-weight: bold;
}

footer {
    text-align: center;
}

a {
    color: gold;
    font-size: 13px;
    font-family: orbitron;
    font-weight: bold;
}

#container {
    display: grid;
    background-color: white;
    justify-content: center;
    align-content: center;
    --grid-amount: 16;
    height: 600px;
    width: 600px;
    margin: auto;
    grid-template-rows: repeat(var(--grid-amount), minmax(auto, 480px));
    grid-template-columns: repeat(var(--grid-amount), minmax(auto, 480px));
}

#container>div {
    border-color: grey;
    border-style: solid;
    border-width: thin;
}

#buttons {
    margin: 40px;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 20px;
}

#buttons>button {
    width: 120px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    border-color: gold;
    border-width: thick;
    color: black;
    font-size: 14px;
    font-family: orbitron;
}

#buttons>button:hover,
#buttons>button:focus {
    cursor: pointer;
    box-shadow: 5px 5px 5px gold;
}

#z-out:disabled {
    box-shadow: none;
    pointer-events: none;
    opacity: 0.3
}